.btn{
    display: flex;
    background: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    border-radius: 1.5em;
    margin: 0 auto;
    margin-top: 2em;
    box-shadow: 11px 9px 20px -3px rgba(0, 0, 0, 0.189);
}
.btn:hover{
    color: #ffbb33;
}
